.styles-changer {
    display: block;
    position: fixed;
    right: 10%;
    top: 0%;
    width: 2em;
    height: 30%;
    z-index: 101;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
    filter: saturate(2);
}

.styles-changer .s-icon {
    width: 2em;
    height: 100%;
    display: block;
    position: absolute;
    color: rgb(var(--main-accent-color));
    text-align: center;
    transition: 0.5s ease-in-out;
    font-size: 1.5em;
    cursor: pointer;
    /* box-shadow: -5px -3px 15px -2px rgb(var(--main-accent-color)); */
    background: url('../res/images/bulb.png') no-repeat;
    /* background:red; */
    background-position: center;
    background-size: cover;
}

.styles-changer .s-icon i {
    position: absolute;
    display: block;
    height: 10%;
    color: transparent;
    width: 50%;
    left: 25%;
    bottom: 7.5%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0px 0px 500px 10px rgba(255, 208, 0, 0.5), var(--shadow-is);
    overflow: auto;
    transition: 0.25s linear;
    z-index: 1;
}

@media screen and (min-width:1366px) {
    .styles-changer {
        display: block;
        position: fixed;
        right: 10%;
        top: 0%;
        width: 2em;
        height: 30%;
        z-index: 101;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: transform 1.5s ease-in-out;
        filter: saturate(2);
    }
    .styles-changer .s-icon {
        width: 2em;
        height: 100%;
        display: block;
        position: absolute;
        color: rgb(var(--main-accent-color));
        text-align: center;
        transition: 0.5s ease-in-out;
        font-size: 1.5em;
        cursor: pointer;
        /* box-shadow: -5px -3px 15px -2px rgb(var(--main-accent-color)); */
        background: url('../res/images/bulb.png') no-repeat;
        /* background:red; */
        background-position: center;
        background-size: cover;
    }
    .styles-changer .s-icon i {
        position: absolute;
        display: block;
        height: 10%;
        color: transparent;
        width: 50%;
        left: 25%;
        bottom: 7.5%;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: inset 0px 0px 200px 50px rgba(255, 196, 0, 0.486), var(--shadow-is);
        overflow: auto;
        transition: 0.25s linear;
        z-index: 1;
    }
}